name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-Dwarnings"

permissions:
  # For syyyr/rust-pycobertura-action
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt-get install -y libudev-dev pkg-config
      - name: Clippy
        run: cargo clippy --verbose --all-targets --all-features
      - name: Build
        run: cargo build --verbose --all-targets --all-features
      - name: Run tests
        run: cargo test --verbose --all-targets

  coverage:
    name: Code coverage
    runs-on: ubuntu-latest
    steps:
      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt-get install -y libudev-dev pkg-config
      - name: Generate coverage
        uses: syyyr/rust-pycobertura-action@v1.2.0
        with:
          project_name: shv-http-gateway
          cargo_test_arguments: ""

  check-version-bump:
    name: Check version bump
    runs-on: ubuntu-latest
    steps:
      - name: Check version bump
        uses: silicon-heaven/rust-check-version-bump@v1.0.1
